html {
	font-family: sans-serif;
}

a  {
  color: green;
}

.cs {
  background-color: yellow;
}

.insert {
  background-color: green;
}

a:hover {
  background-color: yellow;
}

@media only screen and (max-width: 500px) {
  body {
    background-color: lightpink;
  }
